DOCKER_BUILDKIT=1
UID=1001
GID=1001
UV_INSTALL_DEV=1
DJANGO_DEBUG=1
DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY="django-insecure-6ihto=*y%1dpee(w+kx@%7z13dma#f9#(c4&bph=h3epqrvh"
POSTGRES_USER=djangouser
POSTGRES_DB=djangodb
DATABASE_URL="postgres://djangouser@db:5432/djangodb"
NODE_ENV=development
